<div class="jumbotron">

	<div class="text-center">

		<% if !user_signed_in? %>
	
		<h1>Welcome to SocialBet</h1>
		<p>Social Networking for gamblers</p>

		<a href="" class="btn btn-primary">Sign Up</a>

		<% else %>

		<h1>Welcome Back</h1>

		<p>Take a look at the top rated bets below, or submit your own</p>

		<%= link_to "Submit a Bet", new_bet_path, class: "btn btn-primary"  %>

		<% end %>

	</div><!-- /.text-center -->


</div><!-- /.jumbotron -->

<div class="row">

	<div class="text-center">
	
	<div class="col-md-4">
		<h2>Heading 1</h2>
	
		<p>Some text here Some text here Some text here Some text here Some text here</p>

		<a href="" class="btn btn-default">Top Voted Bets</a>

	</div><!-- /.col-md-4 -->

	<div class="col-md-4">
		<h2>Heading 1</h2>
	
		<p>Some text here Some text here Some text here Some text here Some text here</p>

		<a href="" class="btn btn-default">This Weeks winners</a>

	</div><!-- /.col-md-4 -->

	<div class="col-md-4">
		<h2>Heading 1</h2>
	
		<p>Some text here Some text here Some text here Some text here Some text here</p>
		
		<a href="" class="btn btn-default">Top Deals</a>
	</div><!-- /.col-md-4 -->

	</div><!-- /.text-center -->

</div><!-- /.row -->


<div class="row">
	<div class="col-md-12">
		
		<h3>Top Voted Bets</h3>

		<hr />

		<% @bets.each do |bet| %>

			<div class="col-md-4 col-sm-6">

				<div class="bet-container">
		
					<h4 class="betname"><%= link_to bet.name, bet %></h4>

					<p class="bet-amount">Amount Staked: <%= number_to_currency(bet.betamount, unit: "£") %></p><!-- /.bet-amount -->

					<p class="potential">Potential Winnings: <%= number_to_currency(bet.potentialwins, unit: "£") %></p><!-- /.potential -->

					<div class="votes pull-right">

						<span class="glyphicon glyphicon-thumbs-up"></span>

						<span class="badge liked"><%= bet.get_upvotes.size %></span>

						<span class="glyphicon glyphicon-thumbs-down"></span>

						<span class="badge unliked"><%= bet.get_downvotes.size %></span>

					</div><!-- /.votes -->

				</div><!--/bet container-->
			
			</div><!--/col md 4-->

		<% end %>


	</div><!-- /.col-md-12 -->


</div><!-- /.row -->


<div class="row">
	<div class="col-md-12">
		<h3>Bets from people you follow</h3>
		<hr />

		
	</div><!-- /.col-md-12 -->
</div><!-- /.row -->






